/2nd_ui/RecordSwingUI/RecordSwingUI/nbproject/private/
/2nd_ui/RecordSwingUI/RecordSwingUI/build/
/2nd_ui/RecordSwingUI/JavaApplication4/nbproject/private/
/2nd_ui/RecordSwingUI/JavaApplication4/build/