<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="INFO_FILE" fileName="/home/igor/university/3rd/web-programming/ClientServer_5/log/info.log" immediateFlush="true" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="DEBUG_FILE" fileName="/home/igor/university/3rd/web-programming/ClientServer_5/log/debug.log" immediateFlush="true" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="ERROR_FILE" fileName="/home/igor/university/3rd/web-programming/ClientServer_5/log/error.log" immediateFlush="true" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="DEBUG_FILE"/>
        </Root>
        <Root level="error">
            <AppenderRef ref="ERROR_FILE"/>
        </Root>
        <Root level="info">
            <AppenderRef ref="INFO_FILE"/>
        </Root>
    </Loggers>
</Configuration>